.Product {
    height: 35rem;
    width: 30rem;
    border: 3px solid var(--primary-color);
    border-radius: 8px;
    padding: .5rem;
    background: var(--white);
}

.Product img {
    height: 80%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.Product header {
    color: var(--font-color);
    text-align: center;
}

.Product footer {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    color: var(--font-color);
}

/* Phone-port: 550px */
@media (max-width: 34.37em) {
    .Product {
        height: 60rem;
        width: 100%;
    }
}
